**vs code로 작성했으며, 자동완성 때문에 불편하다면 https://chaeeunsong.tistory.com/91 여기 참고해서 자동완성 해제하세요.<br>**

# 01 Getting & Knowing Data

## Question 1
데이터를 로드하라. 데이터는 \t을 기준으로 구분되어있다.

In [ ]:
import pandas as pd

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'

In [ ]:
df = pd.read_csv(DataUrl, sep='\t')

## Question 2
데이터의 상위 5개 행을 출력하라.

In [ ]:
df.head()

## Question 3
데이터의 행과 열의 갯수를 파악하라.

In [ ]:
print(df.shape)
print('행: ', df.shape[0])
print('열: ', df.shape[1])

## Question 4
전체 컬럼을 출력하라.

In [ ]:
df.columns

## Question 5
6번째 컬럼명을 출력하라.

In [ ]:
df.columns[5]

## Question 6
6번재 컬럼의 데이터 타입을 확인하라.

In [ ]:
df.dtypes[5] # 내가 쓴 답, 경고문에서 iloc을 사용하라고 합니다.

In [ ]:
df.iloc[:,5].dtype # 데이터마님 답

## Question 7
데이터 셋의 인덱스 구성은 어떤가.

In [ ]:
df.index

## Question 8
6번째 컬럼의 3번째 값은 무엇인가?

In [ ]:
df.iloc[:,5].iloc[2]

## Question 9
데이터를 로드하라. 컬럼이 한글이기에 적절한 처리를 해야함.
<br><br>
제주 날씨,인구에 따른 교통량데이터 : 출처
<br>
제주 데이터 허브 DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv’

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'

In [ ]:
df = pd.read_csv(DataUrl, encoding='euc-kr')
df

## Question 10
데이터 마지막 3개 행을 출력하라.

In [ ]:
df.tail(3)

## Question 11
수치형 변수를 카진 컬럼을 출력하라.

In [ ]:
df.info()

In [ ]:
df.select_dtypes(exclude='object').columns

## Question 12
범주형 변수를 가진 컬럼을 출력하라.

In [ ]:
df.select_dtypes(include='object').columns

## Question 13
각 컬럼의 결측치 숫자를 파악하라.

In [ ]:
df.isna().sum()

## Question 14
각 컬럼의 데이터 수, 데이터 타입을 한번에 확인하라.

In [ ]:
df.info()

## Question 15
각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소)를 확인하라.

In [ ]:
df.describe()

## Question 16
거주인구 컬럼의 값들을 출력하라.

In [ ]:
df['거주인구']

## Question 17
평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라.

In [ ]:
# 4분위 범위(IQR)은 Q3 - Q1 , 백분위수 75% 에서 25%를 뺀 값
df['평균 속도'].quantile(.75) - df['평균 속도'].quantile(.25) # quantile을 이용한 IQR 계산

In [ ]:
df['평균 속도'].describe()['75%'] - df['평균 속도'].describe()['25%'] # describe를 이용한 IQR 계산

## Question 18
읍면동명 컬럼의 유일 값 갯수를 출력하라.

In [ ]:
df['읍면동명'].nunique()

## Question 19
읍면동명 컬럼의 유일 값을 모두 출력하라.

In [ ]:
df['읍면동명'].unique()

# 02 Filtering & Sorting

식당데이터 : [justmarkham/DAT8](https://github.com/justmarkham/DAT8/blob/master/data/chipotle.tsv)
<br>
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv’

## Question 20
데이터를 로드하라.

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'

In [ ]:
df = pd.read_csv(DataUrl)

## Question 21
quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라.

In [ ]:
df[df['quantity'] == 3].head(5) # 내가 쓴 답, loc을 사용하는게 더 맞는 방법인 것 같다.

In [ ]:
df.loc[df['quantity']==3].head() # 데이터마님 답

## Question 22
quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라.

In [ ]:
df[df['quantity'] == 3].head(5).reset_index(drop=True)

## Question 23
quantity, item_price 두 개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라.

In [ ]:
new_df = df[['quantity', 'item_price']]
new_df

## Question 24
item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

In [ ]:
df['new_price'] = df['item_price'].str.replace('$', '').astype(float)
df['new_price'].head() # 내가 쓴 답

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
Ans = df['new_price'].head() # 데이터마님 답
Ans

## Question 25
new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

In [ ]:
len(df[df['new_price'] <= 5]) # 내가 쓴 답

In [ ]:
Ans = len(df.loc[df.new_price <=5])
Ans # 데이터마님 답

## Question 26
item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라.

In [ ]:
df[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True).head(3)

## Question 27
new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

In [ ]:
df[(df['new_price'] <= 9) & (df['item_name'] == 'Chicken Salad Bowl')].head(5) # 내가 쓴 답, 앞으로 loc를 사용하기로...

In [ ]:
Ans = df.loc[(df.item_name =='Chicken Salad Bowl') & (df.new_price <= 9)] # 데이터마님 답
Ans.head(5)

## Question 28
df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라.

In [ ]:
df.sort_values(by='new_price').reset_index(drop=True).head(4) # 내가 쓴 답

In [ ]:
Ans = df.sort_values('new_price').reset_index(drop=True)
Ans.head(4) # 데이터마님 답

## Question 29
df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

In [ ]:
df.loc[df['item_name'].str.contains('Chips')].head(5) # 내가 쓴 답

In [ ]:
Ans = df.loc[df.item_name.str.contains('Chips')]
Ans.head(5) # 데이터마님 답

## Question 30
df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

In [ ]:
df.iloc[:,::2].head(5)

## Question 31
df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라.

In [ ]:
df.sort_values(by='new_price', ascending=False).reset_index(drop=True).head(4)

## Question 32
df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라.

In [ ]:
df.loc[(df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')] # 내가 쓴 답

In [ ]:
Ans = df.loc[(df.item_name =='Steak Salad') | (df.item_name =='Bowl')]
Ans # 데이터마님 답

## Question 33
df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라.

In [ ]:
new_df = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
new_df.drop_duplicates(subset='item_name', keep='first')

## Question 34
df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라.

In [ ]:
new_df = df.loc[(df.item_name == 'Steak Salad') | (df.item_name == 'Bowl')]
new_df.drop_duplicates(subset='item_name', keep='last')

## Question 35
df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라.

In [ ]:
df.loc[df.new_price >= df.new_price.mean()].head(5)

## Question 36
df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라.

In [ ]:
df.loc[df.item_name == 'Izze', 'item_name'] = 'Fizzy Lizzy'
df.head(5)
# df = df.replace({'item_name' : 'Izze'}, 'Fizzy Lizzy')

## Question 37
df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라.

In [ ]:
df.choice_description.isna().sum()

## Question 38
df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)

In [ ]:
df.loc[df.choice_description.isna(), 'choice_description'] = 'NoData'
df.head()

## Question 39
df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라.

In [ ]:
df.loc[df.choice_description.str.contains('Black')].head()

## Question 40
df의 데이터 중 choice_description 값에 Vegetables 들어가지 않는 경우의 갯수를 출력하라.

In [ ]:
len(df.choice_description) - len(df.loc[df.choice_description.str.contains('Vegetables')]) # 내가 쓴 답, ~ 를 몰라서 이렇게 구구절절 썼네요...

In [ ]:
Ans = len(df.loc[~df.choice_description.str.contains('Vegetables')])
Ans # 데이터마님 답

## Question 41
df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라.

In [ ]:
df.loc[df.item_name.str.startswith('N')].head(3)

## Question 42
df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

In [ ]:
df.loc[df.item_name.str.len() > 15].head()

## Question 43
df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라. lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
a = 0
arr = df['new_price'].values
for ele in arr:
    if ele in lst :
            a += 1
new_df = df[df.new_price.apply(lambda x: x in lst)]
display(new_df.head(3))
print(a) # 내가 쓴 답, 생각 많이해서 작성했는데... isin() 반드시 기억한다...

In [ ]:
lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

Ans = df.loc[df.new_price.isin(lst)]
display(Ans.head(3))
print(len(Ans)) # 데이터마님 답

# 03_Grouping
뉴욕 airBnB : https://www.kaggle.com/ptoscano230382/air-bnb-ny-2019<br>
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv’

## Question 44
데이터를 로드하고 상위 5개 컬럼을 출력하라.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv')
df.head(5)

## Question 45
데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라.

In [ ]:
df.host_name.value_counts().sort_index().head(5) # 내가 쓴 답

In [ ]:
Ans = df.groupby('host_name').size()

# or

Ans = df.host_name.value_counts().sort_index() # 데이터마님 답

## Question 46
데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라.

In [ ]:
df.host_name.value_counts().to_frame(name='counts') # 내가 쓴 답

In [ ]:
Ans = df.groupby('host_name').size().\
                to_frame().rename(columns={0:'counts'}).\
                sort_values('counts',ascending=False)
Ans.head(5) # 데이터마님 답

## Question 47
neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라.

In [ ]:
df.groupby(['neighbourhood_group', 'neighbourhood']).size().reset_index().head(4) # 내가 쓴 답

In [ ]:
Ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size() # 데이터마님 답
Ans.head(4)

## Question 48
neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라.

In [ ]:
(df.groupby(['neighbourhood_group', 'neighbourhood'], as_index=False).size()).groupby(['neighbourhood_group']).max() # 내가 쓴 답

In [ ]:
Ans= df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()\
                  .groupby(['neighbourhood_group'], as_index=False).max()
Ans # 데이터마님 답

## Question 49
neighbourhood_group 값에 따른 price값의 평균, 분산, 최대, 최소 값을 구하여라.

In [ ]:
df[['neighbourhood_group', 'price']].groupby('neighbourhood_group').agg(['mean', 'var', 'max', 'min'])

## Question 50
neighbourhood_group 값에 따른 reviews_per_month 평균, 분산, 최대, 최소 값을 구하여라.

In [ ]:
df[['neighbourhood_group', 'reviews_per_month']].groupby('neighbourhood_group').agg(['mean', 'var', 'max', 'min'])

## Question 51
neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 구하라.

In [ ]:
df.groupby(['neighbourhood', 'neighbourhood_group']).price.mean()

## Question 52
neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 계층적 indexing 없이 구하라.

In [ ]:
df.groupby(['neighbourhood', 'neighbourhood_group']).price.mean().unstack()

## Question 53
neighbourhood 값과 neighbourhood_group 값에 따른 price 의 평균을 계층적 indexing 없이 구하고 nan 값은 -999값으로 채워라.

In [ ]:
df.groupby(['neighbourhood', 'neighbourhood_group']).price.mean().unstack(fill_value=-999) # 내가 쓴 답

In [ ]:
Ans = df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack().fillna(-999)
Ans.head(4) # 데이터마님 답

## Question 54
데이터 중 neighbourhood_group 값이 Queens값을 가지는 데이터들 중 neighbourhood 그룹별로 price값의 평균, 분산, 최대, 최소값을 구하라.

In [ ]:
df[df.neighbourhood_group == 'Queens'].groupby(['neighbourhood']).price.agg(['mean', 'var', 'max', 'min'])

## Question 55
데이터 중 neighbourhood_group 값에 따른 room_type 컬럼의 숫자를 구하고 neighbourhood_group 값을 기준으로 각 값의 비율을 구하여라.

In [ ]:
df_room_type = df.groupby(['neighbourhood_group', 'room_type']).size().unstack()
df_room_type

In [ ]:
df_room_type.div(df_room_type.sum(axis=1), axis=0) # 내가 쓴 답, 문제가 복잡해서 좀 어려웠네요..

In [ ]:
Ans = df[['neighbourhood_group','room_type']].groupby(['neighbourhood_group','room_type']).size().unstack()
Ans.loc[:,:] = (Ans.values /Ans.sum(axis=1).values.reshape(-1,1))
Ans # 데이터마님 답

# 04_Apply, Map
카드이용데이터 : https://www.kaggle.com/sakshigoyal7/credit-card-customers <br>
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv’

## Question 56
데이터를 로드하고 데이터 행과 열의 갯수를 출력하라.

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(DataUrl)
df.shape

## Question 57
Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라.<br>
Unknown : N<br>
Less than $40K : a<br>
$40K - $60K : b<br>
$60K - $80K : c<br>
$80K - $120K : d<br>
$120K + : e

In [ ]:
income = {
    'Unknown' : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K' : 'b',
    '$60K - $80K' : 'c',
    '$80K - $120K' : 'd',
    '$120K +' : 'e'  
}
df['newIncome'] = df.Income_Category.map(income)
df['newIncome'].head(4) # 내가 쓴 답

In [ ]:
dic = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'   
}

df['newIncome']  =df.Income_Category.map(lambda x: dic[x])

Ans = df['newIncome']
Ans.head(4) # 데이터마님 답

## Question 58
Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 컬럼에 매핑하라.<br>
Unknown : N<br>
Less than $40K : a<br>
$40K - $60K : b<br>
$60K - $80K : c<br>
$80K - $120K : d<br>
$120K +’ : e<br>

In [ ]:
def Income(x) :
    if x == 'Unknown':
        return 'N'
    elif x == 'Less than $40K':
        return 'a'
    elif x == '$40K - $60K':
        return 'b'
    elif x == '$60K - $80K':
        return 'c'
    elif x == '$80K - $120K':
        return 'd'
    elif x == '$120K +':
        return 'e'
    
df['newIncome'] = df['Income_Category'].apply(Income)
df['newIncome'].head(4)

## Question 59
Customer_Age의 값을 이용하여 나이 구간을 AgeState 컬럼으로 정의하라. (0~9 : 0 , 10~19 :10 , 20~29 :20 … 각 구간의 빈도수를 출력하라.

In [ ]:
df['AgeState'] = df['Customer_Age'].map(lambda x : (x // 10) * 10)
df['AgeState'].value_counts().sort_index()

## Question 60
Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 컬럼을 정의하고 빈도수를 출력하라.

In [ ]:
df['newEduLevel'] = df.Education_Level.map(lambda x : 1 if 'Graduate' in x else 0)
df['newEduLevel'].value_counts()

## Question 61
Credit_Limit 컬럼값이 4500 이상인 경우 1 그외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라.

In [ ]:
df['newLimit'] = df['Credit_Limit'].map(lambda x : 1 if x >= 4500 else 0 )
df['newLimit'].value_counts()

## Question 62
Marital_Status 컬럼값이 Married 이고 Card_Category 컬럼의 값이 Platinum인 경우 1 그외의 경우에는 모두 0으로 하는 newState컬럼을 정의하라.<br>
newState의 각 값들의 빈도수를 출력하라.

In [ ]:
df['newState'] = df.apply(lambda x : 1 if (x['Marital_Status'] == 'Married') and (x['Card_Category'] == 'Platinum') else 0, axis=1)
df['newState'].value_counts() # 내가 쓴 답

In [ ]:
def check(x):
    if x.Marital_Status =='Married' and x.Card_Category =='Platinum':
        return 1
    else:
        return 0


df['newState'] = df.apply(check,axis=1)

Ans  = df['newState'].value_counts()
Ans # 데이터마님 답

## Question 63
Gender 컬럼값 M인 경우 male F인 경우 female로 값을 변경하여 Gender 컬럼에 새롭게 정의하라. 각 value의 빈도를 출력하라.

In [ ]:
new_gen = {
    'M' : 'male',
    'F' : 'female'
}

df['Gender'] = df['Gender'].map(lambda x : new_gen[x])
df['Gender'].value_counts() # 내가 쓴 답 (map)

In [ ]:
df = pd.read_csv(DataUrl)

def new_gen(x):
    if x == 'M':
        return 'male'
    else :
        return 'female'
    
df['Gender'] = df['Gender'].apply(new_gen)
df['Gender'].value_counts() # 내가 쓴 답 (apply)

# 05_Time_Series
주가 데이터 : https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data<br>
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv’

## Question 64
데이터를 로드하고 각 열의 데이터 타입을 파악하라

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(DataUrl)
df.info()

## Question 65
Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64타입으로 변경하라.

In [ ]:
df['Yr_Mo_Dy'] = pd.to_datetime(df['Yr_Mo_Dy'])
df['Yr_Mo_Dy'].head(4)

## Question 66
Yr_Mo_Dy에 존재하는 년도의 유일값을 모두 출력하라.

In [ ]:
df['Yr_Mo_Dy'].dt.year.unique()

## Question 67
Yr_Mo_Dy에 년도가 2061년 이상의 경우에는 모두 잘못된 데이터이다.<br>
해당경우의 값은 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 컬럼에 정의하라.

In [ ]:
import datetime

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].map(lambda x : pd.to_datetime(datetime.date(x.year-100, x.month, x.day)) if x.year >= 2061 else x) 
df.head(4) # 내가 쓴 답 (map)

In [ ]:
# def fix_century(x):
#     import datetime
    
#     year = x.year - 100 if x.year >= 2061 else x.year
#     return pd.to_datetime(datetime.date(year, x.month, x.day))


# df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)

# Ans = df.head(4)
# Ans # 데이터마님 답 (apply)

## Question 68
년도별 각컬럼의 평균값을 구하여라.

In [ ]:
df.groupby(df['Yr_Mo_Dy'].dt.year).mean()

## Question 69
weekday컬럼을 만들고 요일별로 매핑하라. ( 월요일: 0 ~ 일요일 :6)

In [ ]:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
df['weekday'].head(3)

## Question 70
weekday컬럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 컬럼을 만들어라.

In [ ]:
df['WeekCheck'] = df['weekday'].map(lambda x : 1 if x > 4 else 0)
df['WeekCheck'].head(3) # 내가 쓴 답, 아무래도 숫자를 지정해주는게 더 올바른 방법인 듯 하다.

In [ ]:
df['WeekCheck']  = df['weekday'].map(lambda x : 1 if x in [5,6] else 0)

Ans = df['WeekCheck'].head(3).to_frame()
Ans # 데이터마님 답

## Question 71
년도, 일자 상관없이 모든 컬럼의 각 달의 평균을 구하여라.

In [ ]:
df.groupby(df['Yr_Mo_Dy'].dt.month).mean().head(4)

## Question 72
모든 결측치는 컬럼기준 직전의 값으로 대체하고 첫번째 행에 결측치가 있을경우 뒤에있는 값으로 대채하라.

In [ ]:
df.ffill(inplace=True)
df.bfill(inplace=True)
df.isna().sum() # 내가 쓴 답

In [ ]:
# df = df.fillna(method='ffill').fillna(method='bfill')
# df.isnull().sum() # 데이터마님 답

## Question 73
년도 - 월을 기준으로 모든 컬럼의 평균값을 구하여라.

In [ ]:
df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean().head(3)

## Question 74
RPT 컬럼의 값을 일자별 기준으로 1차차분하라.

In [ ]:
df['RPT'].diff().head(3)

## Question 75
RPT와 VAL의 컬럼을 일주일 간격으로 각각 이동평균한값을 구하여라.

In [ ]:
df[['RPT', 'VAL']].rolling(7).mean().head(9)

서울시 미세먼지 데이터 : https://www.airkorea.or.kr/web/realSearch?pMENU_NO=97<br>
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv’

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv'
df = pd.read_csv(DataUrl)

## Question 76
년-월-일:시 컬럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 서울시의 제공데이터의 경우 0시가 24시로 표현된다.

In [ ]:
def change_hour(x):
    import datetime
    date, hour = x.split(':')
    day = pd.to_datetime(date)
    hour = int(hour)
    
    if hour == '24':
        day = day.timedelta(days=1)
        hour = 0
        
    return day + pd.Timedelta(hours=hour)
        
df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_hour)
df.head(3) # timedelta의 사용법을 잘 숙지해야겠다...

In [ ]:
def change_date(x):
    import datetime
    hour = x.split(':')[1]
    date = x.split(":")[0]
    
    if hour =='24':
        hour ='00:00:00'
        
        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)
        
    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)
    
    return FinalDate

df = pd.read_csv(DataUrl)
df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)

Ans = df
Ans.head(3) # 데이터마님 답

## Question 77
일자별 영어요일 이름을 dayName 컬럼에 저장하라.

In [ ]:
day_name = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['dayName'] = df['(년-월-일:시)'].dt.weekday.map(lambda x : day_name[x])
df['dayName'].head(5) # 내가 쓴 답, dt 관련 용어들을 알면... 딸깍으로 해결된다...

In [ ]:
df['dayName']  =df['(년-월-일:시)'].dt.day_name()
Ans =df['dayName'] 
Ans.head(5) # 데이터마님 답

## Question 78
일자별 각 PM10등급의 빈도수를 파악하라. (결측치가 있다면 0으로 채워라.)

In [ ]:
df.groupby(['dayName', 'PM10등급']).size().unstack().fillna(0) # 내가 쓴 답, 피봇을 썼구나...

In [ ]:
Ans1 = df.groupby(['dayName','PM10등급'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10등급',values='size').fillna(0)

In [ ]:
Ans1.head()

In [ ]:
Ans2 # 데이터마님 답

## Question 79
시간이 연속적으로 존재하며 결측치가 없는지 확인하라.

In [ ]:
df['(년-월-일:시)'].diff().value_counts()

In [ ]:
df['(년-월-일:시)'].isna().sum() # 내가 쓴 답

In [ ]:
# 시간을 차분했을 경우 첫 값은 nan, 이후 모든 차분값이 동일하면 연속이라 판단한다.
check = len(df['(년-월-일:시)'].diff().unique())
if check ==2:
    Ans =True
else:
    Ans = False
    
Ans # 데이터마님 답

## Question 80
오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라.

In [ ]:
print('오전 10시의 PM10의 평균 값 :' ,df[df['(년-월-일:시)'].dt.hour == 10]['PM10'].mean())
print('오후 10시의 PM10의 평균 값 :' ,df[df['(년-월-일:시)'].dt.hour == 22]['PM10'].mean())
# 내가 쓴 답, 데이터프레임 형식으로 구하라는 줄은 몰랐지...

In [ ]:
# Ans = df.groupby(df['(년-월-일:시)'].dt.hour).mean().iloc[[10,22],[0]]
# Ans # 데이터마님 답, 이 방법도 실행해보면 틀렸다고 나오는데, 아마 PM10을 지정해주는 코드가 없어서 그런 것 같다.

Ans = df.groupby(df['(년-월-일:시)'].dt.hour)['PM10'].mean().iloc[[10,22]].to_frame()
Ans # 데이터마님 사이트에 나온 답

## Question 81
날짜 컬럼을 index로 만들어라.

In [ ]:
df.set_index('(년-월-일:시)',inplace=True,drop=True)
df.head(3)

## Question 82
데이터를 주단위로 뽑아서 최소,최대 평균, 표준표차를 구하여라.

In [ ]:
df.info()

In [ ]:
numeric_cols = df.select_dtypes(include='number').columns
df.resample('W')[numeric_cols].agg(['min','max','mean','std'])
# 내가 쓴 답, 원래는 데이터마님 답으로 썼다가 vs code에서는 수치형 컬럼을 따로 지정하지 않으면 오류가 발생해서 이렇게 했습니다.

In [ ]:
df.resample('W').agg(['min','max','mean','std']) # 데이터마님 답

# 06_Pivot
국가별 5세이하 사망비율 통계 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete<br>
Dataurl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv’

## Question 83
Indicator을 삭제하고 First Tooltip 컬럼에서 신뢰구간에 해당하는 표현을 지워라.

In [721]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv'
df = pd.read_csv(DataUrl)

In [ ]:
df.drop(columns='Indicator', inplace=True)

def del_con(x) :
    first = x.split(' ')[0]
    return float(first)

df['First Tooltip'] = df['First Tooltip'].apply(del_con)
df.head(4)

# df['First Tooltip'] = df['First Tooltip'].map(lambda x : float(x.split(' ')[0]))
# df.head(4)
# 내가 쓴 답, apply와 map 두 가지 방법으로 가능하다~

## Question 84
년도가 2015년 이상, Dim1이 Both sexes인 케이스만 추출하라.

## Question 85
84번 문제에서 추출한 데이터로 아래와 같이 나라에 따른 년도별 사망률을 데이터 프레임화 하라.

## Question 86
Dim1에 따른 년도별 사망비율의 평균을 구하라.

올림픽 메달리스트 정보 데이터: https://www.kaggle.com/the-guardian/olympic-games<br>
dataUrl =’https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv’

## Question 87
데이터에서 한국 KOR 데이터만 추출하라.

## Question 88
한국 올림픽 메달리스트 데이터에서 년도에 따른 medal 갯수를 데이터프레임화 하라.

## Question 89
전체 데이터에서 sport종류에 따른 성별수를 구하여라.

## Question 90
전체 데이터에서 Discipline종류에 따른 따른 Medal수를 구하여라.

# 07_Merge, Concat
국가별 5세이하 사망비율 통계 : https://www.kaggle.com/utkarshxy/who-worldhealth-statistics-2020-complete<br>
데이터 변형
Dataurl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv’

## Question 91
df1과 df2 데이터를 하나의 데이터 프레임으로 합쳐라.

## Question 92
df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 둘다 포함하고 있는 년도에 대해서만 고려한다.

## Question 93
df3과 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 모든 컬럼을 포함하고, 결측치는 0으로 대체한다.

## Question 94
df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 두 데이터 모두 포함하는 데이터만 출력하라.

## Question 95
df5과 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria컬럼을 key로 하고 합집합으로 합쳐라.